body {
  background-color: black;
  color: white;
}

img {
  width: 200px;
  border-radius: 50%;
}

.allTrainers {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.trainerCard {
  justify-items: center;
}

.trainerCard img:hover {
  cursor: pointer;
  border: 3px solid yellow;
  padding: 10px;
}

.trainerHighlight {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trainerHighlight section {
  border: 2px solid yellow;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 30vh;
  font-size: 20px;
}

/* .trainerDetails {
  display: flex;
  flex-direction: column;
  width: 350px;
  align-items: center;
} */

.trainerDetails img {
  border-radius: 0;
  width: 250px;
}